@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}

<h2>User List</h2>
<table style="width:50%">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Type</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (User u in Model)
        {
            <tr>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
                <td>@u.UserType</td>                                
                <td><a asp-action="Update" asp-route-userid="@u.UserId">Edit User</a></td>
                <td>
                    <form asp-route-userid="@u.UserId" asp-action="Delete" method="post">
                        <button type="submit">Delete User</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
